In [47]:
import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],index=['cobra', 'viper', 'sidewinder'],columns=['max_speed', 'shield'])

In [48]:
df.head()

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [49]:
temp = df.shield 
df.shield = pd.DataFrame(temp*2)
df

            max_speed  shield
cobra               1       4
viper               4      10
sidewinder          7      16

In [8]:
df.max_speed.loc[df.max_speed==4] = 50

In [9]:
df.head()

            max_speed  shield
cobra               1       2
viper              50       5
sidewinder          7       8

In [5]:
tf = pd.DataFrame([['1/2/2019','2/3/2019'],['3/4/2019','5/7/2019']])
tf.head()

          0         1
0  1/2/2019  2/3/2019
1  3/4/2019  5/7/2019

In [30]:

tf['2'] = (pd.to_datetime(tf.iloc[:,1])- pd.to_datetime(tf.iloc[:,0]))
#tf['2']=tf.iloc[:,2].str.split()
tf['2'] = tf['2'].apply(lambda x:str(x).split()[0])
tf['2']= tf['2'].astype('int64')
tf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
0    2 non-null object
1    2 non-null object
2    2 non-null int64
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes