In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
#sns.set(font_scale = 1)
import matplotlib.pyplot as plt
%matplotlib inline
#plt.rcParams['font.size'] = 5
#plt.rc('xtick', labelsize=10) 
#plt.rc('ytick', labelsize=10)
from sklearn.preprocessing import LabelEncoder
from imblearn.under_sampling import ClusterCentroids,RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler,SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,confusion_matrix,roc_auc_score
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.impute import SimpleImputer
import warnings
warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('./data/H-1B_Disclosure_Data_FY17.csv',index_col=0)

In [8]:
df.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-16055-173457,CERTIFIED-WITHDRAWN,2016-02-24,2016-10-01,H-1B,2016-08-10,2019-08-10,DISCOVER PRODUCTS INC.,NaN,2500 LAKE COOK ROAD,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,2016-03-01
1,I-200-16064-557834,CERTIFIED-WITHDRAWN,2016-03-04,2016-10-01,H-1B,2016-08-16,2019-08-16,DFS SERVICES LLC,NaN,2500 LAKE COOK ROAD,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,2016-03-08
2,I-200-16063-996093,CERTIFIED-WITHDRAWN,2016-03-10,2016-10-01,H-1B,2016-09-09,2019-09-09,EASTBANC TECHNOLOGIES LLC,NaN,1211 31ST ST. NW,...,Y,N,Y,NaN,NaN,WASHINGTON,NaN,DC,20007,2016-03-16
3,I-200-16272-196340,WITHDRAWN,2016-09-28,2016-10-01,H-1B,2017-01-26,2020-01-25,INFO SERVICES LLC,NaN,17177 NORTH LAUREL PARK DR,...,Y,N,Y,NaN,NaN,JERSEY CITY,HUDSON,NJ,07302,NaN
4,I-200-15053-636744,CERTIFIED-WITHDRAWN,2015-02-22,2016-10-02,H-1B,2015-03-01,2018-03-01,BB&T CORPORATION,NaN,223 WEST NASH STREET,...,N,N,NaN,Y,NaN,NEW YORK,NEW YORK,NY,10036,2015-02-26

In [9]:
df.CASE_STATUS.unique()

array(['CERTIFIED-WITHDRAWN', 'WITHDRAWN', 'CERTIFIED', 'DENIED'],
      dtype=object)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 624650 entries, 0 to 624649
Data columns (total 52 columns):
CASE_NUMBER                    624650 non-null object
CASE_STATUS                    624650 non-null object
CASE_SUBMITTED                 624650 non-null object
DECISION_DATE                  624650 non-null object
VISA_CLASS                     624650 non-null object
EMPLOYMENT_START_DATE          624621 non-null object
EMPLOYMENT_END_DATE            624620 non-null object
EMPLOYER_NAME                  624594 non-null object
EMPLOYER_BUSINESS_DBA          43270 non-null object
EMPLOYER_ADDRESS               624643 non-null object
EMPLOYER_CITY                  624635 non-null object
EMPLOYER_STATE                 624632 non-null object
EMPLOYER_POSTAL_CODE           624632 non-null object
EMPLOYER_COUNTRY               528143 non-null object
EMPLOYER_PROVINCE              6116 non-null object
EMPLOYER_PHONE                 528142 non-null object
EMPLOYER_PHONE_EXT             27872 non-null object
AGENT_REPRESENTING_EMPLOYER    528144 non-null object
AGENT_ATTORNEY_NAME            624650 non-null object
AGENT_ATTORNEY_CITY            351344 non-null object
AGENT_ATTORNEY_STATE           336009 non-null object
JOB_TITLE                      624645 non-null object
SOC_CODE                       624648 non-null object
SOC_NAME                       624647 non-null object
NAICS_CODE                     624643 non-null object
TOTAL_WORKERS                  624650 non-null int64
NEW_EMPLOYMENT                 624650 non-null int64
CONTINUED_EMPLOYMENT           624650 non-null int64
CHANGE_PREVIOUS_EMPLOYMENT     624650 non-null int64
NEW_CONCURRENT_EMPLOYMENT      624650 non-null int64
CHANGE_EMPLOYER                624650 non-null int64
AMENDED_PETITION               624650 non-null int64
FULL_TIME_POSITION             624645 non-null object
PREVAILING_WAGE                624649 non-null float64
PW_UNIT_OF_PAY                 624604 non-null object
PW_WAGE_LEVEL                  500930 non-null object
PW_SOURCE                      624604 non-null object
PW_SOURCE_YEAR                 624605 non-null float64
PW_SOURCE_OTHER                618278 non-null object
WAGE_RATE_OF_PAY_FROM          624650 non-null float64
WAGE_RATE_OF_PAY_TO            624649 non-null float64
WAGE_UNIT_OF_PAY               624642 non-null object
H1B_DEPENDENT                  610908 non-null object
WILLFUL_VIOLATOR               610905 non-null object
SUPPORT_H1B                    240476 non-null object
LABOR_CON_AGREE                244975 non-null object
PUBLIC_DISCLOSURE_LOCATION     0 non-null float64
WORKSITE_CITY                  624637 non-null object
WORKSITE_COUNTY                623471 non-null object
WORKSITE_STATE                 624641 non-null object
WORKSITE_POSTAL_CODE           624631 non-null object
ORIGINAL_CERT_DATE             49708 non-null object
dtypes: float64(5), int64(7), object(40)
memory usage: 252.6+ MB

In [12]:
#REMOVE COLUMNS BY NULL THRESHOLD
def missing_values_table(df):

        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns
missing_df = missing_values_table(df);
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print(missing_columns)

Your selected dataframe has 52 columns.
There are 38 columns that have missing values.
['PUBLIC_DISCLOSURE_LOCATION', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE_EXT', 'EMPLOYER_BUSINESS_DBA', 'ORIGINAL_CERT_DATE', 'SUPPORT_H1B', 'LABOR_CON_AGREE']

In [42]:
cdf = df.copy().drop(['CASE_NUMBER','PUBLIC_DISCLOSURE_LOCATION', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE_EXT', 'EMPLOYER_BUSINESS_DBA', 'ORIGINAL_CERT_DATE', 'SUPPORT_H1B', 'LABOR_CON_AGREE','WORKSITE_POSTAL_CODE','EMPLOYER_POSTAL_CODE'],axis=1)
print(df.shape,cdf.shape)

(624650, 52) (624650, 42)

In [21]:
cdf.CASE_STATUS.unique()

array(['CERTIFIED-WITHDRAWN', 'WITHDRAWN', 'CERTIFIED', 'DENIED'],
      dtype=object)

In [43]:
cdf = cdf[cdf['VISA_CLASS']=='H-1B']
#and ((cdf['CASE_STATUS']=='CERTIFIED-WITHDRAWN') or (cdf['CASE_STATUS']=='CERTIFIED'))]
cdf = cdf.loc[cdf.CASE_STATUS.isin(['CERTIFIED-WITHDRAWN','CERTIFIED','DENIED'])]
cdf.CASE_STATUS.loc[cdf.CASE_STATUS=='CERTIFIED-WITHDRAWN'] = 'CERTIFIED'

In [48]:
cdf.CASE_STATUS.isnull().any()

False

In [50]:
X = cdf.drop('CASE_STATUS',axis=1);
y = cdf.CASE_STATUS
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,stratify=y,test_size=0.2);

In [ ]:
# make copy to avoid changing original data (when Imputing)
idf = X_train.copy()

# make new columns indicating what will be imputed
cols_with_missing = (col for col in idf.columns 
                                 if idf[col].isnull().any())
for col in cols_with_missing:
    idf[col + '_was_missing'] = idf[col].isnull()
    
idf_num = idf.select_dtypes(exclude='object');
idf_cat = idf.select_dtypes(include='object');

my_imputer_num = SimpleImputer()
my_imputer_cat = SimpleImputer(strategy='most_frequent')
X_train_num = pd.DataFrame(my_imputer_num.fit_transform(idf_num))
X_train_num.columns = idf_num.columns
X_train_cat = pd.DataFrame(my_imputer_cat.fit_transform(idf_cat))
X_train_cat.colums = idf_cat.columns

In [ ]:
X_train = pd.concat([X_train_cat,X_train_num],axis=1)
X_train.head()

In [ ]:
# make copy to avoid changing original data (when Imputing)
idf = X_test.copy()

# make new columns indicating what will be imputed
cols_with_missing = (col for col in idf.columns 
                                 if idf[col].isnull().any())
for col in cols_with_missing:
    idf[col + '_was_missing'] = idf[col].isnull()
    
idf_num = idf.select_dtypes(exclude='object');
idf_cat = idf.select_dtypes(include='object');

X_test_num = pd.DataFrame(my_imputer_num.transform(idf_num))
X_test_num.columns = idf_num.columns
X_test_cat = pd.DataFrame(my_imputer_cat.transform(idf_cat))
X_test_cat.colums = idf_cat.columns

In [ ]:
X_test = pd.concat([X_test_cat,X_test_num],axis=1)
X_test.head()